*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:rgb(5, 31, 53) ;
}
.logoHeaderSection{
    display: flex;
    /*justify-content: space-between;*/
     
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
 }


.logoHeaderSection img{
    display: block;
    width: 50px;
    margin:5px;
    
}

ul{
     display: flex;
    gap:1rem;
     margin-top: 15px;
    margin-right: 25px;
 }

li{
    list-style: none;
    justify-items: center;
    color: white;
}
.imgHeroSection{
    width: 80%;
    margin: auto;
}
.imgHeroSection img{
    display: block;
    width: 80%;
    margin: auto;
   margin-top: 85px;
   margin-bottom: 49px;
   max-width: 500px;
 }
h1{
    margin: auto;
    max-width: 470px;
    color: white;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 40px;
    margin-left: 55px;
    margin-bottom: 8px;
  

}

.imgHeroSection p{
    

    color: white;
    margin-left: 55px;
    margin-bottom: 47px;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 15px;
    max-width: 470px;
    width: 80%;
   

}

.bookNow{
    margin-left: 55px;
    margin-bottom: 79px;
    padding: 10px 40px;
    background-color: #D79D01;
    border: none;
    color: white;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 20px;
    border-radius: 10px;
    max-width: 470px;
    cursor: pointer;
}
.novigationMenu{
    display: none;
}

.toggleMenu{
    display: none;
}

.toggleMenu ul{
    position: relative;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    background-color: black;
    top: 45px;
    padding: 15px;
    gap: 1rem;
}
a{
    text-decoration: none;
    color: white;
    font-family: 'Chakra Petch', sans-serif;
     
  }

/*a:hover{
    background-color: #D79D01;
    padding: 15px 20px;
 
}*/

.toggleMenu li{
    text-align: center;
    overflow: hidden;
    
 
}

.buttons{
     text-align: end;
     
     

    
}

.menuButton{
    color: white;
    background-color: transparent;
    border: none;
     font-size: 25px;
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    margin: 5px 10px;
     
}

.menuButton:hover{
    color: #D79D01;
}

.CloseMenuButton{
    color: white;
    background-color: transparent;
    border: none;
     font-size: 25px;
    cursor: pointer;
    z-index: 9;
    position: fixed;
    top: 0;
    right: 0;
    margin: 5px 10px;
    display: none;
    
}
.middleSection{
    background-color: white;
    padding: 40px;
}

.user{
    margin: auto;
     text-align: center;
    border-radius: 10px;
    margin-bottom: 1rem;
    width: 100%;
    height: 300px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 200px;
    backdrop-filter: blur(10px);
    
}

.user:hover{
    background: rgb(215, 157, 1);
    opacity: 51%;
}

.user i{
    margin-top: 70px;
    margin-bottom: 49px;
    font-size: 50px;
}

.user P{
    font-family: 'Chakra Petch', sans-serif;
    font-weight:400;
     
 }

 .user svg{
    margin-top: 70px;
    margin-bottom: 49px;
    font-size: 50px;
 }

 .serviceSectionContanier img{
    width: 40%;
    display: block;
    margin: auto;
    margin-bottom: 8px;
 }

 .serviceSection{
    display: grid;
    /*content will flow to the said,creat solution when you have many items*/
    grid-auto-flow: column;
    /*chang the size of each colum*/
    grid-auto-columns: 61%;
    /*make the element the one to scrool not the page*/
    /*contain the scroll behavior*/
    overscroll-behavior-inline: contain;
    overflow-x: auto;
    gap: 1rem;
    padding: 40px;
     
    
 }
 .serviceSectionContanier{
    margin: auto;
    text-align: center;
   border-radius: 10px;
   margin-bottom: 1rem;
   width: 100%;
   height: 300px;
   box-shadow:0 4px 8px 0 rgba(0, 0, 0, 8);
   max-width: 250px;
   min-width: 200px;
   backdrop-filter: blur(10px);
   color: white;
   
   
 }


.serviceSectionContanier:hover{
    background: rgb(1, 165, 215);
    opacity: 91%;
}

.serviceSectionContanier button{
    margin: 15px;
    padding: 5px 10px;
    color: white;
    background-color: #D79D01;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}

.serviceSectionContanier p{
    font-family: 'Chakra Petch', sans-serif;
    color: white;
    font-weight:300;
    font-size: 13px;
    max-width: 200px;
    margin: auto;
    line-height: 18px;
}
h3{
    font-size: medium;
}

.snaps-inline{
    scroll-snap-type:inline mandatory ;
    /*give pading to the start div*/
    scroll-padding-inline: 1rem;

}
 
/*get all the direct chelldren and give her snap align start */
.snaps-inline > *{
    scroll-snap-align: start;
}

.cstumarSection{
    background-color: white;
    padding: 40px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 61%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;

    
}

 
.cstumarSectionDiv img{
    width: 40%;
    margin-top: 70px;
    margin-bottom: 49px;
    
}

.cstumarSectionDiv p{
    font-family: 'Chakra Petch', sans-serif;
    font-weight:400;
    width: 150px;
    margin: auto;
}

 

.cstumarSectionDiv{
    margin: auto;
     text-align: center;
    border-radius: 10px;
    margin-bottom: 1rem;
    width: 100%;
    height: 300px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 200px;
    backdrop-filter: blur(10px);
}

footer{
    background-color: #D79D01;
    padding: 20px;
}

footer h3{
    font-family: 'Chakra Petch', sans-serif;
    
}

footer p{
    font-family: 'Chakra Petch', sans-serif;
    font-weight:400;
    width: 350px
}
footer button{
    background-color: black;
    color: white;
    font-size: 15px;
    border: none;
    padding:20px 40px ;
    margin-top: 5px;
    border-radius: 10px;
    cursor: pointer;
}

 

@media screen and (max-width: 422px) and (min-width: 200px) {
    .serviceSection{
         display: block;  
  }
  .cstumarSection{
    display: block;
  }

}

@media screen and  (min-width: 700px) {
    .imgHeroSection{
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        margin: auto;
    }
    .imgHeroSection img{
        margin-right: 0;
    }
    .imgHeroSectionDiv{
        /*use the order property to push the text to the left said*/
        order: -1;
        margin-top: 150px;
    }
    .imgHeroSectionDiv button{
        margin-left: 0px;
    }
    .middleSection{
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 26%;
        overflow-x: auto;
        gap: 1rem;
        background-color: white;
        padding: 40px;
    }
    .user p{
        max-width: 1078px;
        width: 90px;
        margin: auto;
    }
     
    .serviceSectionContanier img{
        width: 40%;
     }
    
     .serviceSection{
        display: block;
        /*content will flow to the said,creat solution when you have many items*/
        
        /*chang the size of each colum*/
        
        /*make the element the one to scrool not the page*/
        /*contain the scroll behavior*/
        
         
        padding: 40px;
         
        
     }
     .serviceSectionContanier{
        all: unset;
        display: flex;
       color: white;
       justify-content: space-between;
       max-width: 924px;
       margin: auto;
       
     }
    
    
    .serviceSectionContanier:hover{
        background:none;
     }
    
    .serviceSectionContanier button{
       left: 0;
        padding: 5px 10px;
        color: white;
        background-color: #D79D01;
        border: 0;
        border-radius: 10px;
        cursor: pointer;
    }
    
    .serviceSectionContanier p{
        font-family: 'Chakra Petch', sans-serif;
        font-weight:300;
        font-size: 13px;
        max-width: 300px;
        margin: auto;
        line-height: 18px;
        line-height: 25px;
    }
    h3{
        font-size: medium;
    }
    .serviceSectionContanier div{
        padding-top: 100px;
        max-width: 924px;
    }

    .snaps-inline{
        scroll-snap-type:inline mandatory ;
        /*give pading to the start div*/
        scroll-padding-inline: 1rem;
    
    }
     
    /*get all the direct chelldren and give her snap align start */
    .snaps-inline > *{
        scroll-snap-align: start;
}

footer p{
    width: 600px;
}

.cstumarSection{
    background-color: white;
    padding: 40px;
    display: flex;
     column-gap: 1rem;
    

    
}
 
}

/*creat the mobile design for the form first */
/*body{
  background-color: white;
}*/
img{
    display: none;
}

#form{
     width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    background-color: white;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    padding-bottom: 30px;

}
.formTitile h2,p{
    width: 80%;
    margin: auto;
    display: block;
    color:  black;
    font-family: 'Chakra Petch', sans-serif;
     margin-bottom: 15px;
    line-height: 30px;
}

#serviceList,label{
    display: block;
    font-family: 'Chakra Petch', sans-serif;
    margin: 15px ;
    text-align: start;
}

#serviceList{
    background-color: white;
    border: 1px solid;
    color: gray;
}

.formHeader{
    margin-bottom: 50px;
}

.form-Item input,select{
    display: block;
    margin: auto;
    padding: 10px 60px;
    margin-bottom: 10px;
}

form button{
    display: block;
    background-color:#D79D01;
    color: white;
    font-size: 15px;
    border: none;
    padding: 10px 60px;
    margin: 15px;
    border-radius: 10px;
    cursor: pointer;
}
/*move the thanks massege contanier to the center*/
.Thank{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    background-color: white;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    padding-bottom: 30px;
    max-width: 563px;
}
.Thank img{
    display: block;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
   
}
/*fixing  the form input width boxs to fit the size of small screen */

@media screen and (max-width: 339px){
    .form-Item input,select{
        display: block;
        margin: auto;
        padding: 10px 30px;
        margin-bottom: 10px;
    }
}

/*create the descktop responsev layout*/
@media screen and  (min-width: 700px) {
    #form{
        padding: 0;
        width: 80%;
        max-width: 700px;
        position: relative;
        padding-bottom: 70px;
    }
    .formTitile{
        background-color: #08121B;
         text-align: left;
         padding-top: 40px;
         
         
        
    }
   
    .formTitile h2,p{
        color: white;
        width: 50%;
        margin: 90px 30px;

        max-width: 300px;

    }

    .formImg  {
        display: block;
        width: 50%;
        max-width: 350px;
        position: absolute;
         
        top: 20px;
        right: 10px;
    }
    .form-Item input,select{
         
        margin-left: 40px;
    }

    .form-Item{
        margin-top: 150px;
    }
    form button{
        margin-left: 40px;
        margin-bottom: 50px;
    }

    label{
        margin-left: 40px;
    }
    #serviceList{
        
        margin-left: 40px;
    }
}